@media screen and (max-width:1060){
    .testimonial-box{
        width: 45%;
        padding: 10px;
    }
}

@media screen and (max-width:850px){
    .redes{
        flex-direction: column;
        gap: 20px;
    }

    .redes-text{
        font-size: 10px;
        color: var(--blue);
    }
    
    .descrição-redes{
        font-size: 20px;
    }
}

@media screen and (max-width:1000px){
    main{
        flex-direction: column;
    }
    
    .right-section{
        margin-top: 20px;
        display: flex;
        width: 100vw;
        align-items: center;
    }
}

@media screen and (max-width:790px){
    .testimonial-box{
        width:100%
    }
    .testimonial-heading h1{
        font-size: var(--fs-28);
    }
    form .input{
        align-items: center;
    }

    .titulo-prof{
        font-size: 28px;
    }
    .titulo-redes{
        font-size: 28px;
    }
    .descrição-redes{
        font-size: 20px;
    }
    h3{
        font-size: 20px;
    }
}

@media screen and (max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

::selection{
    color: var(--blue);
    background-color: var(--cyan);
}

@media (max-width:1800px){
    
    .main__img,
    .main__text{
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
}
@media (max-width:500px){
    .main__text .main__text-footer{
        flex-wrap: wrap;
        margin-top: -20px;
    }
    .main__text .main__text-footer div{
        margin: 5px 0 !important;
    }
}
@media (max-width:500px){
    .main__text h1{
        font-size: 3em;
    }
    .main__text .main__text-footer p{
        font-size: 1em;
    }
}
@media (max-width:400px){
    .main__text h1{
        font-size: 2.5em;
    }
}
@media (max-width:300px){
    .main__text h1{
        font-size: 2em;
    }
}