*{
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
}

:root{
    /* COLOR - CORES DO ARQUIVO  */
    --white: rgba(255, 250, 251, 1);
    --blue: rgba(27, 41, 115, 1);
    --blue-contrast: rgb(18, 28, 75);
    --cyan: rgba(185, 211, 220, 1);
    --red: rgba(231, 48, 57, 1);
    --red-contrast: rgb(132, 23, 29);
    --yellow: rgba(254, 193, 1, 1);
    --black: rgba(18, 23, 28, 1);

    /* FONT FAMILY - FAMILIA DA FONTE */
    --fonte: "Nunito", sans-serif;

    /* FONT WEIGHT - PESO DA FONTE - ´alterar link ref em caso de mudança' */
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    /* FONT SIZE - TAMANHOS DA FONTE EM rem */
    --fs-10: 0.625; 
    --fs-12: 0.75; 
    --fs-18: 1.125; 
    --fs-20: 1.25rem; 
    --fs-24: 1.5rem; 
    --fs-28: 1.75rem; 
    --fs-30: 1.875rem; 
    --fs-38: 2.375rem; 
    --fs-40: 2.5rem; 
    --fs-48: 3rem; 
}

/* DEFINIÇÃO DO PLANO DE FUNDO */

body{
    background-image: url('../img/backgrounds/papel_de_parede_azul.svg');
    font-family: var(--fonte);
    color: var(--white);
    font-size: var(--fs-18);
    font-weight: var(--fw-300);
    line-height: 1.0;
    min-height: 100vh;
}

ul {
    /* list-style: none; */
}

/* HEADER */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;
    min-height: 50px;
}

.box-img-header img{
    width: 350px;
}


nav{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header nav a {
    user-select: none;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--cyan);
    transition: .4s;
    text-decoration: underline;
}



/* BOTÃO BACK TO TOP */

#btnToTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: var(--red); 
    color: var(--white); 
    cursor: pointer;
    padding: 15px; 
    border-radius: 50%; 
    font-size: 18px; 
  }
  
  #btnToTop:hover {
    background-color: #4e5540; 
  }



main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

section{
    padding-top: 2rem;
}

h2{
    font-size: var(--fs-40);
    color: var(--white);
    line-height: 40px;
}

/* PRIMEIRA PAGINA */

.first-section{
    display: flex;
    justify-content: space-evenly;
    font-size: var(--fs-30);
    
}

.titulo-inicio{
    font-size: var(--fs-40);
}
.left-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 300px;
}

.first-paragraph{
    font-size: var(--fs-24);
}


/* FORM CADASTRO */

form{
    font-family: var(--fonte);
    display: flex;
    flex-direction: column;
    width: 100%;
}

form [type=submit]{
    align-self: center;
    width: 50%;
    height: 60px;
    background-color: var(--red);
    color: var(--white);
    font-size: var(--fs-20);
    font-weight: var(--fw-600);
    font-family: var(--fonte)
}

form [type=submit]:hover{
    cursor: pointer;
}

/* BOTÃO ENVIAR */

input{
    font-family: var(--fonte);
    font-size: var(--fs-28);
    margin-top:10px;
    height: 10px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

/* SELETOR DE CURSOS */

select{
    color: var(--blue);
    font-family: var(--fonte);
    font-size: var(--fs-28);
    margin-top:10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

/* DEFINIÇÃO DE DESTAQUES DO TEXTO */

strong{
    color: var(--yellow);
}

span{
    color: var(--yellow);
}


/* PRIMEIRA PAGINA LADO DIREITO */

.right-section{
    align-items: center;
    justify-content: center;
}

.slide-content{
    margin: 0 2rem;

}
.card{
    width: 320px;
    border-radius: 25px;
    background-color: var(--white);
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--red);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--red);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: var(--white);
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--white);
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--blue);
}

.name{
    font-size: var(--fs-20);
    font-weight: var(--fw-800);
    color: var(--blue);
}

.description{
    font-size: var(--fs-14);
    color: var(--blue);
    font-weight: var(--fw-500);
}

.button-slide{
    border: none;
    font-size: var(--fs-18);
    color: var(--white);
    padding: 8px 16px;
    background-color: var(--red);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-slide:hover{
    background: var(--red-contrast);

}

/* SEGUNDA PAGINA */


.redes{
    margin-top: 10%;
    /* DETERMINA UM FUNDO DIFERENTE (BRANCO) */
    background-image: url("../img/backgrounds/papel_de_parede_branco.png");
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10% 10%;
}
.redes-text{
    max-width:70rem;
    margin-right: 50px;
}
.titulo-redes{
    color: var(--blue);
    margin-bottom: 10px;
}

.descricao-redes{
    color: var(--blue);
    font-weight: var(--fw-400);
}
.redes-img img{
    width: 25%;
}

/* TERCEIRA PAGINA (METODOLOGIA) */

.metodologia{
    padding: 20px 10%;
}

.main__text{
    width: 50%;
    color: var(--white);
}

.main__text h1{
    font-size: 3.5em;
    margin-top: 80px;
}

.main__text .main__text-metodologia{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.main__text .main__text-metodologia p{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.metodologia-imagem img{
    width: 100%;
    border-radius: 10%;
}

.wrapper-metodologia{
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10%;
}

.metodologia-titulo-main{
    width: auto;
    font-size: var(--fs-38);
    margin-top: 80px;
}

.metodologia-texto{
    margin-top: 30px;
    width: 70%;
    font-size: var(--fs-28);
}

.main__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 130px;
    background-color: var(--white);
    border-radius: 30px;
    gap: 20px;
}

.main__img .title,
.main__img .subtitle,
.main__img .name {
    color: var(--blue);
    font-weight: var(--fw-800);
}

.main__img .title {
    background-color: var(--yellow);
    padding: 15px;
    border-radius: 0 0 12px 12px;
    font-size: var(--fs-28);
}

.main__img .subtitle {
    font-size: var(--fs-38);
}

.main__img .name {
    font-size: var(--fs-20);
}

.main__img .biopark-logo {
    width: 130px;
    margin-bottom: 15px;
}




/* QUARTA PAGINA (PROFESSORES) */



.titulo-prof{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixas{
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    color: var(--blue);
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 400px;
}

.img-profile{
    width: 40%;
    border-radius: 50px;
    margin-bottom: 20px;
}

.box1{
    width: 250px;
    height: 250px;
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box2{
    width: 235px;
    height: 250px;
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box3{
    width: 235px;
    height: 250px;
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box4{
    width: 235px;
    height: 250px;
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* QUINTA PAGINA (AVALIAÇÕES) */

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
} 

.testimonial-heading{

    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1{
    font-size: var(--fs-38);
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

.testimonial-box{
    width:500px;
    box-shadow: 1px 1px 3px var(--white);
    background-color: var(--white);
    border-radius: 0px 30px 30px 30px;
    padding: 20px;
    margin: 15px;
}

.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong{
    color: var(--blue);
    font-size: var(--fs-20);
    letter-spacing: 0.5px;
}

.name-user span{
    color: var(--blue);
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
}

.reviews{
    color: #fabb05;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p{
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    color: var(--blue);
}


/* SEXTA PAGINA (FAQ) */

.sixth-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    align-items: center;
}

.sixth-section > div{
    display: flex;
    flex-direction: column;
    
}

.layout {
    width: 80%;
    margin: auto;
  }
  .accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--white);
    border-radius: 10px;
  }
  .accordion__question > p {
    margin: 5px;
    padding: 0;
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    color: var(--blue);
  }
  .accordion__answer > p {
    margin: 5px;
    padding: 10px;
    font-size: var(--fs-18);
    color: var(--blue);
    background-color: var(--cyan);
    border-radius: 0px 10px 10px 10px;
  }
  .accordion:hover {
    cursor: pointer;
  }
  .accordion__answer {
    display: none;
  }
  .accordion.active .accordion__answer {
    display: block;
  }



/* FOOTER */

footer{
    background-color: var(--white);
    padding: 90px 0;
    margin-top: 5rem;
}

.container-footer{
    max-width: 1170px;
    background-color: var(--white);
    margin: auto;
}

.linha-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: var(--fs-20);
    color: var(--blue);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: var(--fw-500);
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--red);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: var(--fs-18);
    text-transform: capitalize;
    color: var(--black);
    text-decoration: none;
    font-weight: var(--fw-400);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    text-decoration: underline;
}

